div.ftsjose{
    display: block;
    background-color: rgb(44, 44, 44);
    margin-left:-10px ;
    margin-right: -10px;
    margin-top: 90px;
    margin-bottom: -25px;
    position: relative;
    text-align: center;
    
}
ul#papa{

padding: auto;
}
 ul#papa li#pepo{
    display:inline-block;
    text-align: center;
    margin: 10px;
    position: relative;
}
li#pepo:hover{
box-shadow: 5px 5px 5px 5px black;
}
ul li#pepo{
    position: relative;
    padding: 10px;
    height: 300px;
    width: 300px;
    background-color: rgb(105, 105, 105);
    border-radius: 30px;
}
li#pepo img{
    position: relative;
    top: 15px;
    border-radius: 30px;
    height: 250px;
    width: 250px;
}